[submodule "subprojects/dbus"]
	path = subprojects/dbus
	url = https://github.com/damianatorrpm/wayfire-plugin_dbus_interface
[submodule "subprojects/windecor"]
	path = subprojects/windecor
	url = https://gitlab.com/wayfireplugins/windecor
[submodule "subprojects/wayfire-shadows"]
	path = subprojects/wayfire-shadows
	url = https://github.com/timgott/wayfire-shadows
[submodule "subprojects/hjson-config-backend"]
	path = subprojects/hjson-config-backend
	url = https://gitlab.com/wayfireplugins/wf-config-hjson.git
