[submodule "subprojects/windecor"]
	path = subprojects/windecor
	url = https://gitlab.com/wayfireplugins/windecor.git
[submodule "subprojects/wayfire-shadows"]
	path = subprojects/wayfire-shadows
	url = https://github.com/timgott/wayfire-shadows.git
[submodule "subprojects/focus-request"]
	path = subprojects/focus-request
	url = https://gitlab.com/wayfireplugins/focus-request.git
[submodule "subprojects/pixdecor"]
	path = subprojects/pixdecor
	url = https://github.com/soreau/pixdecor
[submodule "subprojects/filters"]
	path = subprojects/filters
	url = https://github.com/soreau/filters
