name: CI

on: [push, pull_request]
jobs:
  test_musl_gcc:
    name: "Test with with GCC/musl/libstdc++/BFD on Alpine Linux"
    runs-on: ubuntu-latest
    container: alpine:edge
    steps:
    - run: apk --no-cache add git gcc g++ binutils pkgconf meson ninja musl-dev wayland-dev wayland-protocols libinput-dev libevdev-dev libxkbcommon-dev pixman-dev glm-dev libdrm-dev mesa-dev cairo-dev pango-dev eudev-dev libxml2-dev glibmm-dev libseat-dev libdisplay-info-dev hwdata-dev yyjson-dev boost-dev
    - name: Wayfire
      uses: actions/checkout@v2
      with:
        repository: WayfireWM/wayfire
        path: wayfire
    - run: cd wayfire && git submodule sync --recursive && git submodule update --init --force --recursive && meson build --prefix=/usr && ninja -v -Cbuild && ninja -v -Cbuild install && cd ..
    - name: Wayfire Plugins Extra
      uses: actions/checkout@v2
      with:
        path: wayfire-plugins-extra
    - run: cd wayfire-plugins-extra && meson build && ninja -v -Cbuild
  test_musl_gcc_xwayland:
    name: "Test with with GCC/musl/libstdc++/BFD on Alpine Linux with Xwayland"
    runs-on: ubuntu-latest
    container: alpine:edge
    steps:
    - run: apk --no-cache add git gcc g++ binutils pkgconf meson ninja musl-dev wayland-dev wayland-protocols libinput-dev libevdev-dev libxkbcommon-dev pixman-dev glm-dev libdrm-dev mesa-dev cairo-dev pango-dev eudev-dev libxml2-dev glibmm-dev libseat-dev libxcb-dev xcb-util-wm-dev xwayland libdisplay-info-dev hwdata-dev yyjson-dev boost-dev
    - name: Wayfire
      uses: actions/checkout@v2
      with:
        repository: WayfireWM/wayfire
        path: wayfire
    - run: cd wayfire && git submodule sync --recursive && git submodule update --init --force --recursive && meson build --prefix=/usr && ninja -v -Cbuild && ninja -v -Cbuild install && cd ..
    - name: Wayfire Plugins Extra
      uses: actions/checkout@v2
      with:
        path: wayfire-plugins-extra
    - run: cd wayfire-plugins-extra && meson build && ninja -v -Cbuild
  test_code_style:
    name: "Check code style with uncrustify"
    runs-on: ubuntu-latest
    steps:
    - run: sudo apt-get update
    - run: sudo apt-get install -y git cmake gcc make
    - name: Build Uncrustify
      uses: actions/checkout@v2
      with:
        repository: ammen99/uncrustify
        path: uncrustify
    - run: cd uncrustify && mkdir build && cd build && cmake .. && make && cd ../..
    - name: Run Uncrustify Check
      uses: actions/checkout@v2
      with:
        path: wayfire-plugins-extra
    - run: cd wayfire-plugins-extra && wget https://raw.githubusercontent.com/WayfireWM/wayfire/master/uncrustify.ini
    - run: cd wayfire-plugins-extra && git ls-files | grep "hpp$\|cpp$" | xargs ../uncrustify/build/uncrustify -c uncrustify.ini --no-backup --replace
    - run: cd wayfire-plugins-extra && git diff --exit-code
